<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link href="~/Content/mycontent/css/fonts/css/all.min.css" rel="stylesheet" />
    <!-- bootstrap css -->
    <link href="~/Content/mycontent/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/mycontent/css/style.css" rel="stylesheet" />
    <!-- Tạo icon trên tab -->
    <link rel="icon" href="~/images/logo/logo.png" type="image/x-icon" />
</head>
<body>
    <div class="wapper">
        <div class="containter" style="width:1300px;">
            <div class="header_bg">
                <div class="header_bg_left">
                    <div class="logo" style="margin-left: 0px;">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img class="float-right" src="~/images/logo/logo.png" height="100" alt="icon-logo">
                        </a>
                    </div>
                    <div class="text">
                        <h1 class="text1_header_left">Khoa Công Nghệ Thông Tin</h1>
                        <p class="text2_header_left">Trường Đại học Tài nguyên và Môi trường Thành Phố Hồ Chí Minh</p>
                    </div>
                </div>

                @*Đăng nhập*@
                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Login")" style="margin-top:55px;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button style="border: 1px solid #FFF; border-radius:5px; width:250px;height:50px;background:#6bb130; margin-top:50px; margin-left:300px;">
                            <span style="color:#fff;">@("Chào bạn, " + Session["NameSession"] + " | ")</span>
                            @Html.ActionLink("Thoát", "Index", "Logout", null, new { @style = "color: white" })
                        </button>

                    }
                    else
                    {
                        <button style="border: 1px solid #FFF; border-radius: 5px; width: 120px; height: 40px; background: #6bb130; color: #fff; margin-left: 300px;">
                            <img src="~/images/logo/Login.png" style="height:20px;width:20px;" />
                            <span>Đăng nhập</span>
                        </button>
                    }
                </a>
            </div>
            <div class="menu" style="margin-top:20px;">
                <ul class="list-unstyled gioithieu">
                    <li class="float-left">
                        <a href="@Url.Action("Index","Home")" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            <span style="border:3px solid #fff; border-radius:100%;">
                                <i class="fas fa-home" style="color: #fff; font-size: 15px; padding: 4px 4px 4px 4px; "></i>
                            </span>
                        </a>
                    </li>
                    <li class="float-left">
                        <a href="@Url.Action("GioiThieu1","TrangCon1")" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Giới Thiệu
                        </a>
                        @*<ul class="gioithieu1">
                    <li>
                        <a href="#">
                            Cơ cấu tổ chức
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ngành nghề đào tạo
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cán bộ giảng viên
                        </a>
                    </li>
                </ul>*@
                    </li>

                    <li class="float-left">
                        <a href="@Url.Action("QuanLyTinTuc","Admin")" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration:none;">
                            Quản lý tin tức
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            NCKH
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Chương Trình Đào Tạo
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Đảm Bảo Chất Lượng
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Công Tác Sinh Viên
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Thư Viện
                        </a>
                    </li>

                    <li class="float-left">
                        <a href="" style="border-left: 1px solid #4d9435 !important; border-right: 1px solid #87c541 !important; padding: 12px 20px; font-size: 15px; display: block; color: #fff; text-decoration: none;">
                            Liên Hệ
                        </a>
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>

        @*Footer*@
    <div style="width:100%; background:#6bb130;">
        <div style="display:flex;">
            <div class="col-md-7" style="padding-left:230px; padding-top:20px;">
                <div>
                    <img src="~/images/logo/2.png" width="572" height="120">
                </div>
                <p style="color:#fff; font-weight:600; font-size:17px;">KHOA CÔNG NGHỆ THÔNG TIN</p>
                <div style="color: #fff; padding-top:6px;">236B Lê Văn Sỹ, Phường 1, Quận Tân Bình, TP. HCM</div>
                <div style="color: #fff; padding-top:3px">Điện Thoại:028-39914211 - Fax: 028.38449474</div>
                <div style="color: #fff; padding-top: 3px">Email: cntt@hcmunre.edu.vn</div>
            </div>
            <div class="col-md-5">
                <div style="display:flex; padding-top:20px; padding-left:270px;">
                    <div>
                        <img src="~/images/logo/3.png" width="17" height="17" />
                    </div>
                    <div style="padding-left:30px;">
                        <img src="~/images/logo/4.png" width="17" height="17" />
                    </div>
                    <div style="padding-left:30px;">
                        <img src="~/images/logo/5.png" width="17" height="17" />
                    </div>
                    <div style="padding-left:30px;">
                        <img src="~/images/logo/6.png" width="17" height="17" />
                    </div>
                    <div style="padding-left:30px;">
                        <img src="~/images/logo/7.png" width="17" height="17" />
                    </div>
                </div>
                <div style="color: #fff; padding-top: 30px; font-size: 14px; padding-left: 140px;">
                    Bản quyền thuộc về KHOA CÔNG NGHỆ THÔNG TIN
                </div>
            </div>
        </div>

        <hr style="color: #0000CD; padding-bottom: 10px; width: 1300px;" />
        <div style="display: flex; padding-left:200px; padding-bottom:40px;">
            <div style="font-size:12px; color:#fff;">
                © Copyright 2014
            </div>
            <div style="color:#f2d523; padding-left:900px; font-size:12px">
                <div style="padding-left:200px;">Thiết kế web</div>
                <div style="padding-left:90px; padding-top:8px;">Công ty phần mềm GSOT GROUP</div>
            </div>
        </div>
    </div>
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
