
@{
    ViewBag.Title = "Trường Đại Học Tài Nguyên và Môi Trường";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link href="~/Content/mycontent/css/fonts/css/all.min.css" rel="stylesheet" />
    <!-- bootstrap css -->
    <link href="~/Content/mycontent/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/mycontent/css/style.css" rel="stylesheet" />
    <!-- Tạo icon trên tab -->
    <link rel="icon" href="~/images/logo/logo.png" type="image/x-icon" />

    <script src="~/Content/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/mycontent/js/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div style="height: 40px; border-top: 1px solid #6bb130; border-bottom: 1px solid #6bb130; display:flex;">
        <div style="width:30px; height:30px; border-radius:100%; border: 3px solid #6bb130; margin-top:5px;">
            <i class="fa fa-home" style="color:#6bb130; padding-left:3px;"></i>
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="color: #6bb130; font-size: 13px; padding-top: 11px; padding-left: 5px;">
            Giới Thiệu
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="font-size: 13px; padding-top: 11px; padding-left: 5px; color: #6bb130;">
            Cơ cấu tổ chức
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="font-size: 13px; padding-top: 11px; padding-left: 5px;">
            Cơ cấu tổ chức
        </div>
    </div>

    <div style="display:flex;">
        <div style="margin-top:20px; margin-bottom:70px;">
            <div style="font-size:20px;color:#6bb130;">KHOA CÔNG NGHỆ THÔNG TIN</div>
            <div style="display:flex; padding-top:3px; margin-bottom:20px;">
                <div style="color:#aaaaaa; font-size:13px;">
                    <i class="fad fa-calendar-alt"></i>
                </div>
                <div style="color: #aaaaaa; padding-left: 10px; font-size: 13px;">22/01/2015</div>
            </div>

            <div style="height:1067px;">
                <img src="~/images/logo/9.jpg" style="height:450px; width:600px; margin-left:100px;" />
                <div style="font-weight: 700; color: #0000FF; padding-top:50px; font-size:15px; padding-left:20px;">BAN CHỦ NHIỆM KHOA</div>
                <div style="font-weight: 700; font-size: 15px; padding-top: 10px; padding-left: 20px;">Trưởng khoa:</div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;">TS. Dương Thị Thúy Nga</div>
                <div style="font-weight: 700; font-size: 15px; padding-top: 10px; padding-left: 20px;">Phó trưởng khoa: </div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;">ThS. Từ Thanh Trí</div>
                <div style="font-weight: 700; color: #0000FF; padding-top: 50px; font-size: 15px; padding-left: 20px;">TRỢ LÝ GIÁO VỤ KHOA</div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;">CN. Nguyễn Phạm Thanh Vân</div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;">CN. Lê Hoài Yên</div>
                <div style="font-weight: 700; color: #0000FF; padding-top: 10px; font-size: 15px; padding-left: 20px;">ĐOÀN THỂ</div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;"> Chủ tịch tịch công đoàn: ThS. Từ Thanh Trí</div>
                <div style="font-weight: 700; font-size:15px; padding-top:10px; padding-left:170px;">Bí thư liên chi đoàn: ThS. Đoàn Thị Tố Uyên</div>
                <div style="font-weight: 700; color: #FF0000; padding-top: 10px; font-size: 16px; padding-left: 20px;">BỘ MÔN TIN HỌC TÀI NGUYÊN VÀ MÔI TRƯỜNG</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">1. TS. Dương Thị Thúy Nga - Trưởng bộ môn</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">2. PGS.TS. Vũ Xuân Cường</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">3. ThS. Hà Thanh Vân</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">4. ThS. Phạm Thị Thanh Mai</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">5. TS. Hoàng Anh</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">6. ThS. Nguyễn Văn Kiên</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">7. HVCH. Phạm Minh Khan</div>
                <div style="font-weight: 700; color: #FF0000; padding-top: 10px; font-size: 16px; padding-left: 20px;">BỘ MÔN CÔNG NGHỆ PHẦN MỀM</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">1. ThS. Đặng Đức Trung - Phó trưởng Bộ môn (phụ trách)</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">2. ThS. Vũ Khánh Tường Vân</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">3. ThS. Từ Thanh Trí</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">4. TS. Phùng Minh Đức</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">5. ThS. Trần Thị Hồng Tường</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">6. ThS. Ngô Tân Khai</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">7. ThS. Cao Hữu Thanh Vũ</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">8. ThS. Trần Văn Định</div>
                <div style="font-weight: 700; color: #FF0000; padding-top: 10px; font-size: 16px; padding-left: 20px;">BỘ MÔN HỆ THỐNG THÔNG TIN TÀI NGUYÊN VÀ MÔI TRƯỜNG</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">1. ThS. Nguyễn Thị Tường Vi - Phó Trưởng Bộ môn</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">2. TS. Báo Văn Tuy</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">3. ThS. Cao Duy Trường</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">4. ThS. Nguyễn Thị Thảo Nguyên</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">5. ThS. Đoàn Thị Tố Uyên</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">6. ThS. NCS. Hoàng Thị Kiều Anh (NCS Belarus)</div>
                <div style="font-weight: 700; font-size: 16px; padding-top: 10px; padding-left: 20px;">7. ThS. Trần Thị Mỹ Lệ</div>
            </div>
            <div style="border-top: 3px  solid #1fae66; margin-top:700px; width:800px;">
                <div style="font-size:14px; margin-left:20px; margin-top:10px;">
                    Danh sách bài viết liên quan
                </div>
                <div style="font-size:14px; margin-left:50px; margin-top:30px; color:#6bb130;">
                    Khoa Công nghệ thông tin
                </div>
            </div>
        </div>

        <div style="margin-top:20px; margin-bottom:70px; padding-left:40px;">
            <div style="border: 1px solid #6bb130; width:390px;">
                <div style="background:#6bb130; display:flex; height:38px;">
                    <i class="fas fa-bars" style="color:#fff; padding-top:11px; padding-left:20px; padding-right:20px;"></i>
                    <div style="color:#fff; font-size:18px; padding-top:7px;">Giới thiệu</div>
                </div>

                <div style="display:flex; padding-top: 30px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left:10px; font-size:14px;">Cơ cấu tổ chức</div>
                </div>
                <div style="display: flex; padding-top: 10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Ngành nghề đào tạo</div>
                </div>
                <div style="display: flex; padding-top: 10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Cán bộ giảng viên</div>
                </div>
                <div style="display: flex; padding-top: 10px; padding-bottom:10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Chiến lược phát triển</div>
                </div>
            </div>

            @*TIN TỨC SỰ KIỆN*@
            <div style="width:390px; padding-top:30px;">
                <div style="display:flex;">
                    <div style="background: #66AD4E; border-radius: 60px; width: 30px; height: 30px; line-height: 28px; font-size: 12px; color: #fff; ">
                        <i class="fas fa-info" style="padding-left:13px; padding-top:10px;"></i>
                    </div>
                    <div style="padding-top:3px; font-size: 14px; padding-left:15px;">
                        TIN TỨC SỰ KIỆN
                    </div>
                </div>
                <div class="latest-news mt-4">
                    <div style="display:flex;">
                        <div id="tieudetinnoibat" style="color: #fff; background: #6bb130; width: 95px; height: 40px;
                                cursor: context-menu;">
                            <a>
                                <span>
                                    <p style="font-size:14px;padding-top:7px;padding-left:12px;">
                                        Tin nổi bật
                                    </p>
                                </span>
                            </a>
                        </div>
                        <div id="tieudetintuctruong" style="width: 117px; height: 40px; padding-top: 7px; padding-left: 12px;
                            font-size: 14px; border-right: 1px solid #6bb130; cursor: pointer;">
                            <a>
                                Tin tức trường
                            </a>
                        </div>
                    </div>
                    @*Lấy dữ liệu động của tin tức nổi bật*@
                    <section class="p-2" style="overflow: auto; height: 590px; border-top: 1px solid #6bb130; background: #f0f0f0;"
                             id="dulieutintucnoibat">
                        @foreach (var item in (IEnumerable<Web_CNTT_DHTNMT.Models.@new>)ViewData["TinNoiBat"])
                        {
                            <div class="multiple-ttsk">
                                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Home", new { id = @item.slug })">
                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.created_at).ToString()))
                                    <br />
                                    <span style="color: #6bb130; font-weight:600; font-size:14px;">
                                        @item.title
                                    </span>
                                    <hr />
                                </a>
                            </div>
                        }
                    </section>
                    @*Lấy dữ liệu động của tin tức trường*@
                    <section class="p-2" style="overflow: auto; height: 590px; border-top: 1px solid #6bb130; background: #f0f0f0; display:none;"
                             id="dulieutintuctruong">
                        @foreach (var item in (IEnumerable<Web_CNTT_DHTNMT.Models.@new>)ViewData["TinTucTruong"])
                        {
                            <div class="multiple-ttsk">
                                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Home", new { id = @item.slug })">
                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.created_at).ToString()))
                                    <br />
                                    <span style="color: #6bb130; font-weight:600; font-size:14px;">
                                        @item.title
                                    </span>
                                    <hr />
                                </a>
                            </div>
                        }
                    </section>
                </div>
            </div>

            <div style="border: 1px solid #6bb130; margin-top: 20px;">
                <div style="background: #6bb130; height: 38px; display: flex;">
                    <i class="fab fa-facebook-f" style="color:#fff; padding-top:11px; padding-left:20px; padding-right:20px;"></i>
                    <div style="color:#fff; font-size:18px; padding-top:7px;">
                        Mạng Xã Hội
                    </div>
                </div>
                <div style="height:340px;"></div>
            </div>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    <!-- bootstrap js -->
    <script src="~/Content/mycontent/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/mycontent/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/mycontent/js/bootstrap.min.js"></script>

    <script>
        $('#tieudetintuctruong').click(function () {
            $('#tieudetinnoibat').css({ "background": "#fff" })
            $('#tieudetinnoibat').css({ "color": "#000" })
            $('#tieudetinnoibat').css({ "cursor": "pointer" });
            $('#tieudetintuctruong').css({ "color": "#fff" });
            $('#tieudetintuctruong').css({ "background": "#6bb130" });
            $('#tieudetintuctruong').css({ "cursor": "context-menu" });
            $('#dulieutintucnoibat').css({ "display": "none" })
            $('#dulieutintuctruong').css({ "display": "" })
        });
    </script>

    <script>
        $('#tieudetinnoibat').click(function () {
            $('#tieudetintuctruong').css({ "background": "#fff" })
            $('#tieudetintuctruong').css({ "color": "#000" })
            $('#tieudetinnoibat').css({ "color": "#fff" });
            $('#tieudetinnoibat').css({ "background": "#6bb130" });
            $('#tieudetinnoibat').css({ "cursor": "context-menu" });
            $('#tieudetintuctruong').css({ "cursor": "pointer" });
            $('#dulieutintuctruong').css({ "display": "none" })
            $('#dulieutintucnoibat').css({ "display": "" })
        });
    </script>
    <!-- bootstrap js -->
    <script src="~/Content/mycontent/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
