@*Trang Index/ChiTietThongBao*@
@{
    ViewBag.Title = "Trường Đại Học Tài Nguyên và Môi Trườn";
}
@{
    IEnumerable<Web_CNTT_DHTNMT.Models.user> users = ViewData["User"] as IEnumerable<Web_CNTT_DHTNMT.Models.user>;
    IEnumerable<Web_CNTT_DHTNMT.Models.comment> comments = ViewData["BinhLuan"] as IEnumerable<Web_CNTT_DHTNMT.Models.comment>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link href="~/Content/mycontent/css/fonts/css/all.min.css" rel="stylesheet" />
    <!-- bootstrap css -->
    <link href="~/Content/mycontent/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Content/mycontent/css/style.css" rel="stylesheet" />
    <!-- Tạo icon trên tab -->
    <link rel="icon" href="~/images/logo/logo.png" type="image/x-icon" />

    <script src="~/Content/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/mycontent/js/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div style="height: 40px; border-top: 1px solid #6bb130; border-bottom: 1px solid #6bb130; display:flex;">
        <div style="width:30px; height:30px; border-radius:100%; border: 3px solid #6bb130; margin-top:5px;">
            <i class="fa fa-home" style="color:#6bb130; padding-left:3px;"></i>
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="color: #6bb130; font-size: 13px; padding-top: 11px; padding-left: 5px;">
            Công tác sinh viên
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="color: #6bb130; font-size: 13px; padding-top: 11px; padding-left: 5px;">
            Thông báo
        </div>
        <div style="font-size:14px; padding-top: 9px; padding-left:5px;">
            »
        </div>
        <div style="font-size: 13px; padding-top: 11px; padding-left: 5px;">
            @Model.title
        </div>
    </div>

    <div style="display:flex;">
        <div style=" margin-bottom:70px; margin-top:20px;">
            
                <h5 style="color:#6bb130;">
                    <strong>@Model.title</strong>
                </h5>

                <span class="text-muted">
                    <i class="far fa-clock"></i> @string.Format("{0:dd/MM/yyyy}", Model.created_at)
                </span>

                <section class="py-3">@Html.Raw(Model.content)</section>

            <div class="news-related panel-bd-top p-3">
                <strong class="d-flex">Danh sách bài viết liên quan:</strong>

                <section class="py-3">
                    <a class="" href="#" style="color: #6bb130;">
                        Thông báo xét tuyển ĐHCQ căn cứ kết quả học tập ở bậc thpt năm 2022 – đợt 5
                    </a><br>
                    <a class="" href="#" style="color: #6bb130;">
                        Thông báo xét tuyển ĐHCQ căn cứ kết quả thi tốt nghiệp THPT năm 2022 – bổ sung đợt 2
                    </a>
                </section>
            </div>
        </div>

        <div style="margin-top:20px; margin-bottom:70px; padding-left:40px;">
            <div style="border: 1px solid #6bb130; width:390px;">
                <div style="background:#6bb130; display:flex; height:38px;">
                    <i class="fas fa-bars" style="color:#fff; padding-top:11px; padding-left:20px; padding-right:20px;"></i>
                    <div style="color:#fff; font-size:18px; padding-top:7px;">Giới thiệu</div>
                </div>

                <div style="display:flex; padding-top: 30px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left:10px; font-size:14px;">Cơ cấu tổ chức</div>
                </div>
                <div style="display: flex; padding-top: 10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Ngành nghề đào tạo</div>
                </div>
                <div style="display: flex; padding-top: 10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Cán bộ giảng viên</div>
                </div>
                <div style="display: flex; padding-top: 10px; padding-bottom:10px;">
                    <i class="far fa-long-arrow-right" style="font-size:10px; margin-left:10px; margin-top:5px;"></i>
                    <div style="padding-left: 10px; font-size: 14px;">Chiến lược phát triển</div>
                </div>
            </div>

            @*TIN TỨC SỰ KIỆN*@
            <div style="width:390px; padding-top:30px;">
                <div style="display:flex;">
                    <div style="background: #66AD4E; border-radius: 60px; width: 30px; height: 30px; line-height: 28px; font-size: 12px; color: #fff; ">
                        <i class="fas fa-info" style="padding-left:13px; padding-top:10px;"></i>
                    </div>
                    <div style="padding-top:3px; font-size: 14px; padding-left:15px;">
                        TIN TỨC SỰ KIỆN
                    </div>
                </div>
                <div class="latest-news mt-4">
                    <div style="display:flex;">
                        <div id="tieudetinnoibat" style="color: #fff; background: #6bb130; width: 95px; height: 40px;
                                cursor: context-menu;">
                            <a>
                                <span>
                                    <p style="font-size:14px;padding-top:7px;padding-left:12px;">
                                        Tin nổi bật
                                    </p>
                                </span>
                            </a>
                        </div>
                        <div id="tieudetintuctruong" style="width: 117px; height: 40px; padding-top: 7px; padding-left: 12px;
                            font-size: 14px; border-right: 1px solid #6bb130; cursor: pointer;">
                            <a>
                                Tin tức trường
                            </a>
                        </div>
                    </div>
                    @*Lấy dữ liệu động của tin tức nổi bật*@
                    <section class="p-2" style="overflow: auto; height: 590px; border-top: 1px solid #6bb130; background: #f0f0f0;"
                             id="dulieutintucnoibat">
                        @foreach (var item in (IEnumerable<Web_CNTT_DHTNMT.Models.@new>)ViewData["TinNoiBat"])
                        {
                            <div class="multiple-ttsk">
                                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Home", new { id = @item.slug })">
                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.created_at).ToString()))
                                    <br />
                                    <span style="color: #6bb130; font-weight:600; font-size:14px;">
                                        @item.title
                                    </span>
                                    <hr />
                                </a>
                            </div>
                        }
                    </section>
                    @*Lấy dữ liệu động của tin tức trường*@
                    <section class="p-2" style="overflow: auto; height: 590px; border-top: 1px solid #6bb130; background: #f0f0f0; display:none;"
                             id="dulieutintuctruong">
                        @foreach (var item in (IEnumerable<Web_CNTT_DHTNMT.Models.@new>)ViewData["TinTucTruong"])
                        {
                            <div class="multiple-ttsk">
                                <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Home", new { id = @item.slug })">
                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.created_at).ToString()))
                                    <br />
                                    <span style="color: #6bb130; font-weight:600; font-size:14px;">
                                        @item.title
                                    </span>
                                    <hr />
                                </a>
                            </div>
                        }
                    </section>
                </div>
            </div>

            <div style="border: 1px solid #6bb130; margin-top: 20px;">
                <div style="background: #6bb130; height: 38px; display: flex;">
                    <i class="fab fa-facebook-f" style="color:#fff; padding-top:11px; padding-left:20px; padding-right:20px;"></i>
                    <div style="color:#fff; font-size:18px; padding-top:7px;">
                        Mạng Xã Hội
                    </div>
                </div>
                <div style="height:340px;"></div>
            </div>
        </div>
    </div>

    @*Tạo chỗ nhập bình luận*@
    <div style="margin-bottom:20px;">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="p-3 rounded shadow-sm mb-3" style="background-color: #f8f9fa;">
                <form action="@Url.Action("Create", "Comment", new { id = Model.slug })" method="post">
                    <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong mr-3"
                             src="~/images/logo/admin.png" alt="avatar" width="40"
                             height="40" />
                        <div class="form-outline w-100">
                            <h6 class="fw-bold mb-1">@User.Identity.Name</h6>
                            <label class="form-label" for="textAreaExample">Nhập bình luận bên dưới</label>
                            <textarea class="form-control" id="comment_text" rows="4"
                                      name="comment_text" style="background: #fff;"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2 pt-1">
                        <button type="submit" class="btn btn-primary btn-sm">Gửi</button>
                        &nbsp;
                        <button type="reset" class="btn btn-outline-danger btn-sm">Hủy</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <h4 class="text-center text-danger py-3">Vui lòng đăng nhập để bình luận</h4>
        }
    <div class="card text-dark">
        <div class="card-body p-4">
            <h4 class="mb-0">Bình luận gần đây</h4>
            <p class="fw-light mb-0 pb-0">Các bình luận được sắp xếp mới nhất</p>

            @*<div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong mr-3"
                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                     height="60" />
                <div>
                    <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                    <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                            March 07, 2021
                            <span class="badge bg-primary">Pending</span>
                        </p>
                        <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ml-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ml-2"></i></a>
                        <a href="#!" class="link-muted"><i class="fas fa-heart ml-2"></i></a>
                    </div>
                    <p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and
                        scrambled it.
                    </p>
                </div>
            </div>*@
        </div>


        @*Tạo chỗ để các bình luận trước đó*@
        @if (comments.Count() > 0)
        {
            foreach (var c in comments)
            {
                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong mr-3"
                             src="~/images/logo/admin.png" alt="avatar" width="60"
                             height="60" />
                        <div>
                            <h6 class="fw-bold mb-1">
                                @foreach (var u in users)
                                {
                                    if (c.user_id == u.id)
                                    {
                                        @u.name
                                    }
                                }
                            </h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(c.date).ToString())
                                    @*<span class="badge bg-success text-white">Approved</span>*@
                                </p>
                                <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ml-2"></i></a>
                                <a href="#!" class="text-success"><i class="fas fa-redo-alt ml-2"></i></a>
                                <a href="#!" class="text-danger"><i class="fas fa-heart ml-2"></i></a>

                                @*@if (User.Identity.IsAuthenticated)
                                {
                                    if (Session["UserGroupSession"].ToString() == "1")
                                    {*@
                                <a href="@Url.Action("Delete", "Comment", new { id = c.id })" class="text-danger"><i class="fas fa-trash-alt ml-2"></i></a>
                                @*}
                                }*@
                            </div>
                            <p class="mb-0">@c.comment_text</p>
                        </div>
                    </div>
                </div>

                <hr class="my-0" />
            }
        }
        else
        {
            <h4 class="text-center py-3">Chưa có bình luận nào</h4>
        }
    </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <!-- bootstrap js -->
    <script src="~/Content/mycontent/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/mycontent/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/mycontent/js/bootstrap.min.js"></script>

    <script>
        $('#tieudetintuctruong').click(function () {
            $('#tieudetinnoibat').css({ "background": "#fff" })
            $('#tieudetinnoibat').css({ "color": "#000" })
            $('#tieudetinnoibat').css({ "cursor": "pointer" });
            $('#tieudetintuctruong').css({ "color": "#fff" });
            $('#tieudetintuctruong').css({ "background": "#6bb130" });
            $('#tieudetintuctruong').css({ "cursor": "context-menu" });
            $('#dulieutintucnoibat').css({ "display": "none" })
            $('#dulieutintuctruong').css({ "display": "" })
        });
    </script>

    <script>
        $('#tieudetinnoibat').click(function () {
            $('#tieudetintuctruong').css({ "background": "#fff" })
            $('#tieudetintuctruong').css({ "color": "#000" })
            $('#tieudetinnoibat').css({ "color": "#fff" });
            $('#tieudetinnoibat').css({ "background": "#6bb130" });
            $('#tieudetinnoibat').css({ "cursor": "context-menu" });
            $('#tieudetintuctruong').css({ "cursor": "pointer" });
            $('#dulieutintuctruong').css({ "display": "none" })
            $('#dulieutintucnoibat').css({ "display": "" })
        });
    </script>
    <!-- bootstrap js -->
    <script src="~/Content/mycontent/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>